<div id='top'>
  <%= image_tag "icon.png", :id => 'icon' %>
  <h2>サービスコンセプト</h2>
  <h3>
    ほたみんはソーシャルネットワークサービスに囲まれて人生の大半をすごしてきた私たちが年をとった時に片手間に自分と同じ年齢の集団をホットスポットという形で今一番どこに同じ年齢の集団があるのかを知ることが出来るアプリケーションサービスです。<br>
    リアルタイムで日本全体でどこのどの地域に同年代の人の密度で今一番熱いジェネレーションフィールドを探して実際に足を運ぶもよし。自分と同年代の人たちの分布をみて楽しむもよしです。
  </h3>
  <h2>年をとった自分が使いたいサービスの詳細</h2>
  <h3>人生の最盛期をSNSで囲まれ、ネットワークで誰かとつながっているのが当たり前です。<br>
    年を重ねていく未来では、もっとユニークに他者とのつながりを考えてみました。
  </h3>
  <%= image_tag "human.png", :id => 'human' %>
  <%= image_tag "play.gif", :id => 'link' %>
  <%= image_tag "nextgeneration.png", :id => 'next' %>
</div>
